@font-face {
  font-family: 'Hanimation_Arabic_Light';
  src: url('../fonts/ArbFONTS-Hanimation_Arabic_Light.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hanimation_Arabic_Medium';
  src: url('../fonts/ArbFONTS-Hanimation_Arabic_Medium.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hanimation_Arabic_Regular';
  src: url('../fonts/ArbFONTS-Hanimation_Arabic_Regular.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hanimation_Arabic_SemiBold';
  src: url('../fonts/ArbFONTS-Hanimation_Arabic_SemiBold.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}
body{
  background-color: #FBFBFB;
  direction: rtl;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1A225A; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1A225A; 
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
p{
  margin:0;
}
a,
a:hover, 
a:focus,
a:active,
.search-container > a
.profile-top a{
  text-decoration: none;
  color: inherit;
}
.img-border{
  border: 2px solid #631E73;
  background-color: #631E73;
  border-radius: 50%;
}
.blur{
  filter: blur(2px);
}
.header i{
  font-size: 25px;
  padding-right: 20px;
  color: #631E73;
  cursor: pointer;
  display: none;
}
.mobile-menu{
  position: fixed;
  display: none;
  flex-direction: column;
  gap: 30px;
  background-color: #FBFBFB;
  border-left: 1px solid #bebebe;
  top: 0px;
  right: 0px;
  width: 280px;
  height: 100vh; 
  padding-block: 50px;
  padding-right: 50px;
  animation: slide-left 500ms forwards;
}
.header{
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
  padding-right: 4%;
  padding-left: 6%;
  box-shadow: 0px 6px 12px #0000002a;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
}
.header-content > a,
.mobile-menu > a{
  font-family: Hanimation_Arabic_Medium;
  font-size: 30px;
  color: #221923;
  cursor: pointer;
}
.login, .signup{
  font-family: Hanimation_Arabic_Regular;
  font-size: 18px;
  color: #221923;
  background-color: transparent;
  text-decoration: none;
}
.signup, .signup:hover{
  background-color: #631E73;
  color: #FFFFFF;
  padding: 5px 20px;
  border-radius: 20px;
  margin-right: 10px;
}
.header-content{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.notification{
  position: absolute;
  top: 160%;
  left: 0px;
  width: min(150%,380px);
  max-height: 300px;
  background-color: #FFFFFF;
  border: 1px solid #CECECE;
  border-radius: 10px;
  overflow-y: scroll;
  display: none;
  animation: slide-up 500ms forwards;
}
.active-notification{
  display: block;
}
.active-mobile-menu{
  display: flex;
}
.notification h2{
  font-family: Hanimation_Arabic_Medium;
  font-size: 18px;
  color: #631E73;
}
.notification h3{
  font-family: Hanimation_Arabic_Medium;
  font-size: 14px;
  color: #631E73;
}
.notification h4{
  font-family: Hanimation_Arabic_Medium;
  font-size: 14px;
  color: #F1BD19;
}
.notification > div:first-child{
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #686868;
}
.notification-content{
  display: flex;
  margin-inline: 20px;
  padding-block: 20px;
  gap: 20px;
  border-bottom: 1px solid #A7A7A7;
}
.notification > div:last-child{
  border: none;
}
.notification-content > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.icons{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.account{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.account h2{
  font-family: Hanimation_Arabic_SemiBold;
  font-size: 20px;
  color: #221923;
}
.account img:nth-child(1){
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.account > img{
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.icons img,
.profile-bottom img,
.search-container img,
.time-container img,
.user-details img,
.social img{
  width: 24px;
  height: 24px;
}
.logo-area{
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.logo-area img{
  width: 57;
  height: 72;
}
.logo-area h2{
  font-family: Hanimation_Arabic_SemiBold;
  font-size: 25px;
  color: #691E75;
}
.logo-area h3{
  font-family: Hanimation_Arabic_Light;
  font-size: 17px;
  color: #1A225A;
}
/* body */
.body{
  display: grid;
  grid-template-columns: 22% 76%;
  gap: 2%;
  margin-right: 4%;
  margin-left: 6%;
  margin-block: 180px;
}
.full{
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  margin-inline: auto;
  margin-top: 150px;  
}
.section{
  background-color: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0px 10px 60px #795e8008;
}
.profile-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 30px;
  height:fit-content;
}
.profile-top{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.profile-top > div{
  display: flex;
  align-items: center;
  gap: 15px;
}
.profile-top img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.profile-top h2{
  font-family: Hanimation_Arabic_SemiBold;
  font-size: 20px;
  color: #221923;
}
.profile-top h3{
  font-family: Hanimation_Arabic_Regular;
  font-size: 18px;
  color: #A686B1;
}
.profile-container button{
  padding: 15px 0px;
  width: 100%;
  font-family: Hanimation_Arabic_Medium;
  font-size: 28px;
  background-color: #F1BD19;
  color: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0px 24px 48px #2c273815;
  cursor: pointer;
}
.profile-bottom{
  background-color: #FFFFFF;
  width: 100%;
  position: relative;
  border-radius: 40px;
  box-shadow: 0px 40px 60px #795e8028;
}
.profile-bottom h2{
  font-family: Hanimation_Arabic_Regular;
  font-size: 24px;
  color: #221923;
  text-align: center;
  padding: 70px 0px;
}
.profile-bottom div{
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 8px 12px;
  box-shadow: 0px 12px 40px #00000021;
}
.date-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}
.date-container div{
  padding: 50px;
}
.date-container img{
  width: 244px;
  height: 244px;
}
.date-container h2{
  font-family: Hanimation_Arabic_Regular;
  font-size: 28;
  color: #A686B1;
}
.date-container h1{
  font-family: Hanimation_Arabic_Medium;
  font-size: 34;
  color: #631E73;
}
.users-container{
  padding: 50px;
}
.search-container{
  display: flex;
  justify-content: space-between;
}
.search-container h1{
  font-family: Hanimation_Arabic_Medium;
  font-size: 26px;
  color: #221923;
}
.search-container > a{
  padding: 20px 40px;
  font-family: Hanimation_Arabic_Regular;
  font-size: 28px;
  background-color: #F1BD19;
  color: #FFFFFF;
  border-radius: 50px;
  cursor: pointer;
}
.search-container select{
  background-color: #F9F8F9;
  cursor: pointer;
  width: 100px;
}
.search-container option{
  font-size: 30px;
}
.search-container h2, 
.search-container button,
.search-container select{ 
  font-family: Hanimation_Arabic_Regular;
  font-size: 24px;
  color: #221923;
}
.search-area{
  display: flex;
  border-radius: 50px;
  width: fit-content;
  overflow: hidden;
}
.search-area > div{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #F9F8F9;
  padding: 15px 20px;
}
.search-area >div:first-child{
  padding-right: 40px;
}
.search-area > div:not(:last-child){
  border-right: 5px solid #FFFFFF;
}
.search-area input{
  width: 70px;
  height: 50px;
  border-radius: 15px;
  font-size: 18px;
  padding-inline: 10px;
}
.search-area button{
  background-color: #631E73;
  padding-inline: 50px;
  color: #FFFFFF;
}
/* user */
.users-area{
  margin-top: 70px;
}
.users-area > div{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.user{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0px 30px 50px #ebebeb6f;
}
.user-profile{
  display: flex;
  gap: 15px;
}
.user-profile img{
  width: 76px;
  height: 76px;
  border-radius: 50%;
}
.user-profile h1{
  font-family: Hanimation_Arabic_Medium;
  font-size: 28px;
  color: #221923;
}
.user-profile h2{
  font-family: Hanimation_Arabic_Medium;
  font-size: 26px;
  color: #403441;
}
.user-details{
  display: flex;
  align-items: center;
  gap: 8px;
}
.user-details h2{
  font-family: Hanimation_Arabic_Regular;
  font-size: 24px;
  color: #221923;
}
.user button{ 
  font-family: Hanimation_Arabic_Medium;
  font-size: 22px;
  color: #FFFFFF;
  background-color: #1A225A;
  padding: 8px 0px;
  border-radius: 30px;
}
.pages{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  margin-top: 70px;
}
.pages div{
  border-radius: 30px;
  padding-inline: 10px;
  background-color: #F0F0F0;
}
.pages img{
  width: 8px;
  height: 14px;
  margin: 20px 15px;
}
.numbers{
  display: flex;
  padding: 0px;
}
.numbers a{
  font-family: Hanimation_Arabic_Medium;
  font-size: 22px;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.numbers a:not(.active-page){
  color: #606060;
}
.numbers .active-page{
  color: #FFFFFF;
  background-color: #631E73;
}
.bottom{
  width: 100%;
  background:linear-gradient(.25turn,#1A225A,#691E75,#691E75);
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 150px;
}
.bottom > div{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-logo{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.bottom-logo img{
  width: 70px;
  height: 85px;
}
.bottom-logo > div{
  display: flex;
  align-items: center;
  gap: 30px;
}
.bottom-logo h2{
  font-family: Hanimation_Arabic_SemiBold;
  font-size: 24px;
  color: #FFFFFF;
}
.bottom-logo h4{
  font-family: Hanimation_Arabic_Regular;
  font-size: 14px;
  color: #FFFFFF;
}
.bottom-logo h1{
  font-family: Hanimation_Arabic_SemiBold;
  font-size: 30px;
  color: #FFFFFF;
}
.bottom-links{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-links div{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.bottom-links h2{
  font-family: Hanimation_Arabic_SemiBold;
  font-size: 24px;
  color: #FFFFFF;
}
.bottom-links a{
  font-family: Hanimation_Arabic_Regular;
  font-size: 22px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.social{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
}
.social > div{
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.social-icons{
  display: flex;
  gap: 20px;
}
.social h4{
  font-family: Hanimation_Arabic_Regular;
  font-size: 14px;
  color: #000000; 
}
.register-container{
  background-color: #FFFFFF;
  padding: 50px;
  padding-top: 100px;
  border-radius: 30px;
  margin-top: 150px;  
  margin-bottom: 50px;  
  width: 70%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-container > div{
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.register-container > img{
  width: 180px;
  height: 250px;
}
.about-container h1,
.questions-container h1,
.register-container h1{
  font-family: Hanimation_Arabic_SemiBold;
  font-size: 26px;
  color: #221923;
}
.register-container h2{
  font-family: Hanimation_Arabic_SemiBold;
  font-size: 18px;
  color: #F1BD19;
}
.questions-container h2,
.about-container h2{
  font-family: Hanimation_Arabic_SemiBold;
  font-size: 18px;
  color: #221923;
}
.questions-container h3,
.about-container h3,
.about-container li,
.register-container h3,
.register-container li{
  font-family: Hanimation_Arabic_SemiBold;
  font-size: 14px;
  color: #221923;
}
.about-container ul,
.register-container ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.about-container ul li::before,
.register-container ul li::before {
  content: "\2022";
  font-size: 20px;
  font-weight: 900;
  display: inline-block; 
  width: 1em;
  color: #F1BD19;
}
.register-container a{
  background-color: #1A225A;
  color: #FFFFFF;
  padding: 10px 60px;
  width: fit-content;
  border-radius: 40px;
  font-family: Hanimation_Arabic_Regular;
  font-size: 16px;
}
.about-container{
  background-color: #FFFFFF;
  padding: 50px;
  padding-top: 100px;
  border-radius: 30px;
  margin-top: 150px;  
  margin-bottom: 50px;  
  width: 70%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.questions-container{
  background-color: #FFFFFF;
  padding: 50px;
  padding-top: 100px;
  border-radius: 30px;
  margin-top: 150px;  
  margin-bottom: 50px;  
  width: 70%;
  margin-inline: auto;
}
.questions-container > div{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 20px;
  max-height: 400px;
  overflow-y: auto;
  text-align: right;
}
.questions-area{
  border-bottom: 1px solid #221923;
  padding-block: 15px;
  cursor: pointer;
}
.questions-container h3{
  display: none;
  margin-top: 15px;
}
.active-question h3{
  display: block;
  animation: slide-down 500ms forwards;
}
.questions-area > div{
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.questions-area img{
  width: 10px;
  height: 15px;
}

@keyframes slide-up {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slide-left {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-down {
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}